.app-button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;
  background: #007298;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #007298;

  &:hover,
  &:focus,
  &:active {
    background: #016486;
  }

  &__single-icon {
    padding: 13px;
    background: transparent;
    color: #007298;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
